@import url(https://fonts.googleapis.com/css?family=Lexend:100,200,300,regular,500,600,700,800,900);

* {
  box-sizing: border-box;
  font-family: Lexend, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100vw;
  height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: start;
}